<% include ./partials/header.ejs %>
<div class="w-full min-h-screen bg-zinc-800 px-10 py-8 text-white">
  <div class="py-8">
    <a class="text-zinc-300 hover:text-white" href="/card"
      ><i class="fa-solid fa-angle-left"></i> Back</a
    >
  </div>
  <div class="cards flex flex-wrap gap-10">
    <div class="card w-48">
      <div class="rounded-lg overflow-hidden bg-yellow-500">
        <img
          class="transform transition duration-300 hover:scale-[4]"
          src="https://imagedelivery.net/6Q4HLLMjcXxpmSYfQ3vMaw/bc74848c-1800-49f0-30b6-01d655102800/900px"
          alt=""
        />
      </div>
      <h6 class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
        Basketweave Zigzag Concrete Paving Texture, Red
      </h6>
    </div>
    <div class="card w-48">
      <div class="rounded-lg overflow-hidden bg-yellow-500">
        <img
          class="transform transition duration-300 hover:scale-[4]"
          src="https://imagedelivery.net/6Q4HLLMjcXxpmSYfQ3vMaw/b4340ef7-0fd2-4580-ebe9-0258ad6c5800/900px"
          alt=""
        />
      </div>
      <h6 class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
        Checkerboard Basketweave Zigzag Concrete Paving Texture, Red
      </h6>
    </div>
    <div class="card w-48">
      <div class="rounded-lg overflow-hidden bg-yellow-500">
        <img
          class="transform transition duration-300 hover:scale-[4]"
          src="https://imagedelivery.net/6Q4HLLMjcXxpmSYfQ3vMaw/e33fb0b1-30e8-4786-3541-09596c194c00/900px"
          alt=""
        />
      </div>
      <h6 class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
        Checkerboard Basketweave Zigzag Concrete Paving Texture, Black
      </h6>
    </div>
    <div class="card w-48">
      <div class="rounded-lg overflow-hidden bg-yellow-500">
        <img
          class="transform transition duration-300 hover:scale-[4]"
          src="https://imagedelivery.net/6Q4HLLMjcXxpmSYfQ3vMaw/4541f879-dee3-483f-3350-df8e2214a600/900px"
          alt=""
        />
      </div>
      <h6 class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
        Basketweave Zigzag Concrete Paving Texture, Red
      </h6>
    </div>
    <div class="card w-48">
      <div class="rounded-lg overflow-hidden bg-yellow-500">
        <img
          class="transform transition duration-300 hover:scale-[4]"
          src="https://imagedelivery.net/6Q4HLLMjcXxpmSYfQ3vMaw/6b0638eb-5222-4fe1-8e15-e25c96473a00/900px"
          alt=""
        />
      </div>
      <h6 class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
        Basketweave Zigzag Concrete Paving Texture, Yellow
      </h6>
    </div>
    <div class="card w-48">
      <div class="rounded-lg overflow-hidden bg-yellow-500">
        <img
          class="transform transition duration-300 hover:scale-[4]"
          src="https://imagedelivery.net/6Q4HLLMjcXxpmSYfQ3vMaw/a4c0a845-32df-478d-93d9-7b1c40e8ea00/900px"
          alt=""
        />
      </div>
      <h6 class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
        Basketweave Zigzag Concrete Paving Texture, Grey
      </h6>
    </div>
    <div class="card w-48">
      <div class="rounded-lg overflow-hidden bg-yellow-500">
        <img
          class="transform transition duration-300 hover:scale-[4]"
          src="https://imagedelivery.net/6Q4HLLMjcXxpmSYfQ3vMaw/f99685b7-02eb-4aed-5e6b-3080a7091200/900px"
          alt=""
        />
      </div>
      <h6 class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
        Basketweave Checkerboard Concrete Paving Texture, Yellow
      </h6>
    </div>
    <div class="card w-48">
      <div class="rounded-lg overflow-hidden bg-yellow-500">
        <img
          class="transform transition duration-300 hover:scale-[4]"
          src="https://imagedelivery.net/6Q4HLLMjcXxpmSYfQ3vMaw/17349ab5-060c-49fd-bb18-d268ba603200/900px"
          alt=""
        />
      </div>
      <h6 class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
        Basketweave Checkerboard Concrete Paving Texture, Yellow
      </h6>
    </div>
    <div class="card w-48">
      <div class="rounded-lg overflow-hidden bg-yellow-500">
        <img
          class="transform transition duration-300 hover:scale-[4]"
          src="https://imagedelivery.net/6Q4HLLMjcXxpmSYfQ3vMaw/e81a460a-9020-4af9-c128-bca32af1e600/900px"
          alt=""
        />
      </div>
      <h6 class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
        Basketweave Concrete Paving Texture, Grey
      </h6>
    </div>
  </div>
  <div class="flex justify-center py-20">
    <a
      class="text-xl font-semibold opacity-70 hover:text-white hover:opacity-100"
      href="/order"
      >Order !</a
    >
  </div>
  <% include ./partials/footer.ejs %>
</div>
