<% include ./partials/header.ejs %>

<div class="w-full min-h-screen bg-zinc-800 px-10 py-8 text-white">
  <div class="py-8">
    <a class="text-zinc-300 hover:text-white" href="/"
      ><i class="fa-solid fa-angle-left"></i> Back</a
    >
  </div>

  <!-- pavor block  types -->
  <div class="flex justify-center items-center">
    <h1 class="m-[4rem] font-bold text-3xl underline">PAVOR BLOCK PRODUCTS</h1>
  </div>
  <div class="w-full flex justify-center">
    <div class="flex flex-wrap gap-10">
      <div class="w-48">
        <div class="rounded-lg overflow-hidden bg-yellow-500">
          <img
            src="https://poliigon.com/cdn-cgi/image/height=280,q=75,f=auto/https://cdn.poliigon.com/categories/textures/pavers/pavers-basket-weave.jpg"
            alt=""
          />
        </div>
        <a
          class="text-sm text-zinc-300 hover:text-white font-semibold"
          href="/Basket"
        >
          Basket Weave
        </a>
        <br />
        <h6 class="text-xs font-semibold opacity-50">9 Pins</h6>
      </div>

      <div class="w-48">
        <div class="rounded-lg overflow-hidden bg-yellow-500">
          <img
            src="https://poliigon.com/cdn-cgi/image/height=280,q=75,f=auto/https://cdn.poliigon.com/categories/textures/pavers/pavers-contemporary.jpg"
            alt=""
          />
        </div>
        <a
          class="text-sm text-zinc-300 hover:text-white font-semibold"
          href="/Contempory"
        >
          Contemporary
        </a>
        <br />
        <h6 class="text-xs font-semibold opacity-50">22 Pins</h6>
      </div>
      <div class="w-48">
        <div class="rounded-lg overflow-hidden bg-yellow-500">
          <img
            src="https://poliigon.com/cdn-cgi/image/height=280,q=75,f=auto/https://cdn.poliigon.com/categories/textures/pavers/pavers-dumbbell.jpg"
            alt=""
          />
        </div>
        <a
          class="text-sm text-zinc-300 hover:text-white font-semibold"
          href="/Dumbbell"
        >
          Dumbbell
        </a>
        <br />
        <h6 class="text-xs font-semibold opacity-50">5 Pins</h6>
      </div>
      <div class="w-48">
        <div class="rounded-lg overflow-hidden bg-yellow-500">
          <img
            src="https://poliigon.com/cdn-cgi/image/height=280,q=75,f=auto/https://cdn.poliigon.com/categories/textures/pavers/pavers-herringbone.jpg"
            alt=""
          />
        </div>
        <a
          class="text-sm text-zinc-300 hover:text-white font-semibold"
          href="/Herringbone"
        >
          Herringbone
        </a>
        <br />
        <h6 class="text-xs font-semibold opacity-50">5 Pins</h6>
      </div>
      <div class="w-48">
        <div class="rounded-lg overflow-hidden bg-yellow-500">
          <img
            src="https://poliigon.com/cdn-cgi/image/height=280,q=75,f=auto/https://cdn.poliigon.com/categories/textures/pavers/pavers-hexagonal.jpg"
            alt=""
          />
        </div>
        <a
          class="text-sm text-zinc-300 hover:text-white font-semibold"
          href="/hexagonal"
        >
          Hexagonal
        </a>
        <br />
        <h6 class="text-xs font-semibold opacity-50">7 Pins</h6>
      </div>
      <div class="w-48">
        <div class="rounded-lg overflow-hidden bg-yellow-500">
          <img
            src="https://poliigon.com/cdn-cgi/image/height=280,q=75,f=auto/https://cdn.poliigon.com/categories/textures/pavers/pavers-milano.jpg"
            alt=""
          />
        </div>
        <a
          class="text-sm text-zinc-300 hover:text-white font-semibold"
          href="/milano"
        >
          Milano
        </a>
        <br />
        <h6 class="text-xs font-semibold opacity-50">4 Pins</h6>
      </div>
    </div>
  </div>

  <!-- other products -->
  <div class="flex justify-center">
    <h1 class="m-[4rem] font-bold text-3xl underline">OTHER PRODUCTS</h1>
  </div>

  <div class="w-full flex justify-center">
    <div class="flex flex-wrap gap-10">
      <div class="w-48">
        <div class="rounded-lg overflow-hidden bg-yellow-500">
          <img class="h-32 w-[22rem]" src="/images/o1.jpeg" alt="" />
        </div>
        <p class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
          Cement Poles
        </p>
        <br />
      </div>

      <div class="w-48">
        <div class="rounded-lg overflow-hidden">
          <img class="h-32 w-[22rem]" src="/images/covering.jpg" alt="" />
        </div>
        <p class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
          Covering
        </p>
        <br />
      </div>
      <div class="w-48">
        <div class="rounded-lg overflow-hidden bg-yellow-500">
          <img class="h-32 w-[22rem]" src="/images/fly1.jpg" alt="" />
        </div>
        <p class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
          Fly Ash Bricks
        </p>
        <br />
      </div>
      <div class="w-48">
        <div class="rounded-lg overflow-hidden bg-yellow-500">
          <img class="h-32 w-[22rem]" src="/images/o4.jpeg" alt="" />
        </div>
        <p class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
          Cover Block
        </p>
        <br />
      </div>
      <div class="w-48">
        <div class="rounded-lg overflow-hidden bg-yellow-500">
          <img class="h-32 w-[22rem]" src="/images/o5.jpeg" alt="" />
        </div>
        <a class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
          Curve Stone
        </a>
        <br />
      </div>
      <div class="w-48">
        <div class="rounded-lg overflow-hidden bg-yellow-500">
          <img class="h-32 w-[22rem]" src="images/cstone.jpg" alt="" />
        </div>
        <a class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
          Curve Stone
        </a>
        <br />
      </div>
    </div>
  </div>

  <% include ./partials/footer.ejs %>
</div>
