<% include ./partials/header.ejs %>
<div class="w-full min-h-screen bg-zinc-800 px-10 py-8 text-white">
  <div class="py-8">
    <a class="text-zinc-300 hover:text-white" href="/card"
      ><i class="fa-solid fa-angle-left"></i> Back</a
    >
  </div>
  <div class="flex flex-wrap gap-10">
    <div class="w-48">
      <div class="rounded-lg overflow-hidden bg-yellow-500">
        <img
          class="transform transition duration-300 hover:scale-[4]"
          src="https://imagedelivery.net/6Q4HLLMjcXxpmSYfQ3vMaw/c6761390-b7b6-486a-581a-cac9a215ac00/900px"
          alt=""
        />
      </div>
      <h6 class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
        Multicolored Dumbbell Concrete Paving Texture
      </h6>
    </div>
    <div class="w-48">
      <div class="rounded-lg overflow-hidden bg-yellow-500">
        <img
          class="transform transition duration-300 hover:scale-[4]"
          src="https://imagedelivery.net/6Q4HLLMjcXxpmSYfQ3vMaw/03f7c8e3-0d3b-4ea3-addc-e5fd69046700/900px"
          alt=""
        />
      </div>
      <h6 class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
        Dumbbell Stripe Concrete Paving Texture, White
      </h6>
    </div>
    <div class="w-48">
      <div class="rounded-lg overflow-hidden bg-yellow-500">
        <img
          class="transform transition duration-300 hover:scale-[4]"
          src="https://imagedelivery.net/6Q4HLLMjcXxpmSYfQ3vMaw/b725d311-aa2e-452e-0bc0-4abd3f78b300/900px"
          alt=""
        />
      </div>
      <h6 class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
        Dumbbell Concrete Paving Texture, Black
      </h6>
    </div>
    <div class="w-48">
      <div class="rounded-lg overflow-hidden bg-yellow-500">
        <img
          class="transform transition duration-300 hover:scale-[4]"
          src="https://imagedelivery.net/6Q4HLLMjcXxpmSYfQ3vMaw/a6200283-e348-4853-c308-6de9b93d1c00/900px"
          alt=""
        />
      </div>
      <h6 class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
        Dumbbell Concrete Paving Texture, Red
      </h6>
    </div>
    <div class="w-48">
      <div class="rounded-lg overflow-hidden bg-yellow-500">
        <img
          class="transform transition duration-300 hover:scale-[4]"
          src="https://imagedelivery.net/6Q4HLLMjcXxpmSYfQ3vMaw/8b5e54f8-910b-4316-6f26-7d4826b2f200/900px"
          alt=""
        />
      </div>
      <h6 class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
        Dumbbell Concrete Paving Texture, Grey
      </h6>
    </div>
  </div>
  <div class="flex justify-center py-20">
    <a
      class="text-xl font-semibold opacity-70 hover:text-white hover:opacity-100"
      href="/order"
      >Order !</a
    >
  </div>
  <% include ./partials/footer.ejs %>
</div>
