<% include ./partials/header.ejs %>
<div class="w-full min-h-screen bg-zinc-800 px-10 py-8 text-white">
  <div class="py-8">
    <a class="text-zinc-300 hover:text-white" href="/card"
      ><i class="fa-solid fa-angle-left"></i> Back</a
    >
  </div>
  <div class="flex flex-wrap gap-10">
    <div class="w-48">
      <div class="rounded-lg overflow-hidden bg-yellow-500">
        <img
          class="transform transition duration-300 hover:scale-[4]"
          src="https://imagedelivery.net/6Q4HLLMjcXxpmSYfQ3vMaw/e47f4148-105e-4f5c-fdae-d7326bf48e00/900px"
          alt=""
        />
      </div>
      <h6 class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
        Herringbone Zigzag Concrete Paving Texture, Red
      </h6>
    </div>
    <div class="w-48">
      <div class="rounded-lg overflow-hidden bg-yellow-500">
        <img
          class="transform transition duration-300 hover:scale-[4]"
          src="https://imagedelivery.net/6Q4HLLMjcXxpmSYfQ3vMaw/a877586c-4eb9-4245-f70c-ad23d832fe00/900px"
          alt=""
        />
      </div>
      <h6 class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
        Herringbone Zigzag Concrete Paving Texture, Grey
      </h6>
    </div>
    <div class="w-48">
      <div class="rounded-lg overflow-hidden bg-yellow-500">
        <img
          class="transform transition duration-300 hover:scale-[4]"
          src="https://imagedelivery.net/6Q4HLLMjcXxpmSYfQ3vMaw/f7ba70fd-a2e5-4577-de9d-538e64b31700/900px"
          alt=""
        />
      </div>
      <h6 class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
        Herringbone Concrete Paving Texture, Red
      </h6>
    </div>
    <div class="w-48">
      <div class="rounded-lg overflow-hidden bg-yellow-500">
        <img
          class="transform transition duration-300 hover:scale-[4]"
          src="https://imagedelivery.net/6Q4HLLMjcXxpmSYfQ3vMaw/9336855b-b7ec-4a30-9e62-ed7f1ef06e00/900px"
          alt=""
        />
      </div>
      <h6 class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
        Herringbone Concrete Paving Texture, Yellow
      </h6>
    </div>
    <div class="w-48">
      <div class="rounded-lg overflow-hidden bg-yellow-500">
        <img
          class="transform transition duration-300 hover:scale-[4]"
          src="https://imagedelivery.net/6Q4HLLMjcXxpmSYfQ3vMaw/f65ac5c7-45be-4244-31e0-899d20147600/900px"
          alt=""
        />
      </div>
      <h6 class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
        Herringbone Concrete Paving Texture, Grey
      </h6>
    </div>
  </div>
  <div class="flex justify-center py-20">
    <a
      class="text-xl font-semibold opacity-70 hover:text-white hover:opacity-100"
      href="/order"
      >Order !</a
    >
  </div>
  <% include ./partials/footer.ejs %>
</div>
