<% include ./partials/header.ejs %>
<div class="w-full min-h-screen bg-zinc-800 px-10 py-8 text-white">
  <div class="py-8">
    <a class="text-zinc-300 hover:text-white" href="/card"
      ><i class="fa-solid fa-angle-left"></i> Back</a
    >
  </div>
  <div class="flex flex-wrap gap-10">
    <div class="w-48">
      <div class="rounded-lg overflow-hidden bg-yellow-500">
        <img
          class="transform transition duration-300 hover:scale-[4]"
          src="https://imagedelivery.net/6Q4HLLMjcXxpmSYfQ3vMaw/029a9eaf-8313-4d68-9b88-79f8dc288700/900px"
          alt=""
        />
      </div>
      <h6 class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
        Multicolored Hexagonal Concrete Paving Texture
      </h6>
    </div>
    <div class="w-48">
      <div class="rounded-lg overflow-hidden bg-yellow-500">
        <img
          class="transform transition duration-300 hover:scale-[4]"
          src="https://imagedelivery.net/6Q4HLLMjcXxpmSYfQ3vMaw/fd1e0a36-7cb7-4d4d-f236-4592db930700/900px"
          alt=""
        />
      </div>
      <h6 class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
        Multicolored Hexagonal Concrete Paving Texture, Grey
      </h6>
    </div>
    <div class="w-48">
      <div class="rounded-lg overflow-hidden bg-yellow-500">
        <img
          class="transform transition duration-300 hover:scale-[4]"
          src="https://imagedelivery.net/6Q4HLLMjcXxpmSYfQ3vMaw/a2a52a22-1962-42db-f351-af9399d46400/900px"
          alt=""
        />
      </div>
      <h6 class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
        Random Pattern Hexagonal Concrete Paving Texture, Grey
      </h6>
    </div>
    <div class="w-48">
      <div class="rounded-lg overflow-hidden bg-yellow-500">
        <img
          class="transform transition duration-300 hover:scale-[4]"
          src="https://imagedelivery.net/6Q4HLLMjcXxpmSYfQ3vMaw/26a949c1-0090-4c47-bdbf-32a95901b400/900px"
          alt=""
        />
      </div>
      <h6 class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
        Hexagonal Concrete Paving Texture, Black
      </h6>
    </div>
    <div class="w-48">
      <div class="rounded-lg overflow-hidden bg-yellow-500">
        <img
          class="transform transition duration-300 hover:scale-[4]"
          src="https://imagedelivery.net/6Q4HLLMjcXxpmSYfQ3vMaw/117085ef-1c2e-4c05-de5c-8a64be3b0000/900px"
          alt=""
        />
      </div>
      <h6 class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
        Hexagonal Concrete Paving Texture, Red
      </h6>
    </div>
    <div class="w-48">
      <div class="rounded-lg overflow-hidden bg-yellow-500">
        <img
          class="transform transition duration-300 hover:scale-[4]"
          src="https://imagedelivery.net/6Q4HLLMjcXxpmSYfQ3vMaw/a5e99953-345a-4965-4edc-5d8e91946a00/900px"
          alt=""
        />
      </div>
      <h6 class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
        Hexagonal Concrete Paving Texture, Yellow
      </h6>
    </div>
    <div class="w-48">
      <div class="rounded-lg overflow-hidden bg-yellow-500">
        <img
          class="transform transition duration-300 hover:scale-[4]"
          src="https://imagedelivery.net/6Q4HLLMjcXxpmSYfQ3vMaw/89eb189d-5017-4b08-8115-85cd86b2d700/900px"
          alt=""
        />
      </div>
      <h6 class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
        Hexagonal Concrete Paving Texture, Grey
      </h6>
    </div>
  </div>
  <div class="flex justify-center py-20">
    <a
      class="text-xl font-semibold opacity-70 hover:text-white hover:opacity-100"
      href="/order"
      >Order !</a
    >
  </div>
  <% include ./partials/footer.ejs %>
</div>
