<% include ./partials/header.ejs %>
<div class="w-full min-h-screen bg-zinc-800 px-10 py-8 text-white">
  <div class="py-8">
    <a class="text-zinc-300 hover:text-white" href="/card"
      ><i class="fa-solid fa-angle-left"></i> Back</a
    >
  </div>
  <div class="flex flex-wrap gap-10">
    <div class="w-48">
      <div class="rounded-lg overflow-hidden bg-yellow-500">
        <img
          class="transform transition duration-300 hover:scale-[4]"
          src="https://imagedelivery.net/6Q4HLLMjcXxpmSYfQ3vMaw/cdec5b4d-53a8-4e78-2ce8-931ae0f5ce00/900px"
          alt=""
        />
      </div>
      <h6 class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
        Milano Stripes Concrete Paving Texture, Red
      </h6>
    </div>
    <div class="w-48">
      <div class="rounded-lg overflow-hidden bg-yellow-500">
        <img
          class="transform transition duration-300 hover:scale-[4]"
          src="https://imagedelivery.net/6Q4HLLMjcXxpmSYfQ3vMaw/0535a8c7-39b7-44cd-75d4-c37169185300/900px"
          alt=""
        />
      </div>
      <h6 class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
        Milano Concrete Paving Texture, Red
      </h6>
    </div>
    <div class="w-48">
      <div class="rounded-lg overflow-hidden bg-yellow-500">
        <img
          class="transform transition duration-300 hover:scale-[4]"
          src="https://imagedelivery.net/6Q4HLLMjcXxpmSYfQ3vMaw/0ec60aa4-61f6-49e0-ad6b-f7b085b21400/900px"
          alt=""
        />
      </div>
      <h6 class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
        Milano Concrete Paving Texture, Yellow
      </h6>
    </div>
    <div class="w-48">
      <div class="rounded-lg overflow-hidden bg-yellow-500">
        <img
          class="transform transition duration-300 hover:scale-[4]"
          src="https://imagedelivery.net/6Q4HLLMjcXxpmSYfQ3vMaw/15cab88b-0369-4fd8-5736-74e8da8e8800/900px"
          alt=""
        />
      </div>
      <h6 class="text-sm text-zinc-300 hover:text-white font-semibold mt-2">
        Milano Concrete Paving Texture, Grey
      </h6>
    </div>
  </div>

  <div class="flex justify-center py-20">
    <a
      class="text-xl font-semibold opacity-70 hover:text-white hover:opacity-100"
      href="/order"
      >Order !</a
    >
  </div>
  <% include ./partials/footer.ejs %>
</div>
